[Desktop Entry]
Version=1.0
Name=pacup
Comment=パッケージのアップデート
GenericName=Update Package
Exec=sudo pacup -y
Terminal=true
Type=Application
Icon=system-software-update
Categories=System;Settings;
StartupNotify=true
